@import url('https://fonts.googleapis.com/css2?family=Noto+Emoji:wght@300&family=Raleway:wght@100;600;700;900&family=Roboto+Condensed:wght@300&family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  border-radius: 2%;
  border: 5px solid black;
  width: 450px;
  max-width: 100%;
  min-height: 100vh;
  height: 100vh;
  background-color: rgb(224, 215, 215);
  /* box-shadow: 3px 5px 5px rgb(0,0,0,1); */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

html {
  font-size: 14pt; /* später dann 1rem für 12pt! Oder 2rem für 24;);)*/
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.selectMood {
  flex-direction: row;
  display: flex;
  flex: row;
  justify-content: center;
  padding: 20px;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(224, 215, 215);
  list-style: none;
  gap: 15px;
}

.showMoods {
  flex-direction: row;
  display: flex;
  flex: row;
  justify-content: center;
  padding: 20px;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(224, 215, 215);
  list-style: none;
  gap: 15px;
}

.allCounts {
  display: flex;
  flex: row;
  justify-content: center;
  padding: 20px;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(224, 215, 215);
  list-style: none;
  gap: 15px;

}

.hidden {
  display: none;
}

.emoji {
  font-family: Noto Emoji;
  background-color: #F2F2F0;
  border-radius: 50%;
}

.emoji_positive {
  font-family: Noto Emoji;
  background-color: #E1F79C;
  border-radius: 50%;
}

.emoji_negative {
  font-family: Noto Emoji;
  background-color: #EEA4CA;
  border-radius: 50%;
}

#excited {
  display: none;
}

#happy {
  display: none;
}

#neutral {
  display: none;
}

#bored {
  display: none;
}

#sad {
  display: none;
}

#depressed {
  display: none;
}

.selected {
  color: green;
}

.emoji_excited {
  font-family: Noto Emoji;
  background-color: #E1F79C;
  border-radius: 50%;
  font-size: 25px;
}

.selected_emoji_excited {
  font-family: Noto Emoji;
  background-color: #E1F79C;
  border-radius: 50%;
  font-size: 40px;
}

.emoji_happy {
  font-family: Noto Emoji;
  background-color: #E1F79C;
  border-radius: 50%;
  font-size: 25px;
}

.selected_emoji_happy {
  font-family: Noto Emoji;
  background-color: #E1F79C;
  border-radius: 50%;
  font-size: 40px;
}

.emoji_neutral {
  font-family: Noto Emoji;
  background-color: #F2F2F0;
  border-radius: 50%;
  font-size: 25px;
}

.selected_emoji_neutral {
  font-family: Noto Emoji;
  background-color: #F2F2F0;
  border-radius: 50%;
  font-size: 40px;
}

.emoji_bored {
  font-family: Noto Emoji;
  background-color: #F2F2F0;
  border-radius: 50%;
  font-size: 25px;
}

.selected_emoji_bored {
  font-family: Noto Emoji;
  background-color: #F2F2F0;
  border-radius: 50%;
  font-size: 40px;
}

.emoji_sad {
  font-family: Noto Emoji;
  background-color: #EEA4CA;
  border-radius: 50%;
  font-size: 25px;
}

.selected_emoji_sad {
  font-family: Noto Emoji;
  background-color: #EEA4CA;
  border-radius: 50%;
  font-size: 40px;
}

.emoji_depressed {
  font-family: Noto Emoji;
  background-color: #EEA4CA;
  border-radius: 50%;
  font-size: 25px;
}

.selected_emoji_depressed {
  font-family: Noto Emoji;
  background-color: #EEA4CA;
  border-radius: 50%;
  font-size: 40px;
}

.before_work {
  font-size: 25px;
}

.selected_emoji_before {
  font-size: 40px;
}

.after_work {
  font-size: 25px;
}

.selected_emoji_after {
  font-size: 40px;
}






