* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  border-radius: 2%;
  border: 10px solid black;
  width: 450px;
  max-width: 100%;
  min-height: 100vh;
  height: 100vh;
  background-color: rgb(224, 215, 215);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html {
  font-size: 14pt; /* später dann 1rem für 12pt! Oder 2rem für 24;);)*/
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.showMoods {
  flex-direction: row;
  display: flex;
  flex: row;
  align-items: center;
  flex-wrap: wrap;
  background-color: pink;
  list-style: none;
  gap: 15px;
}


