@import url('https://fonts.googleapis.com/css2?family=Noto+Emoji:wght@300&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,900;1,900&family=Roboto+Condensed:wght@300&family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  border-radius: 2%;
  border: 3px solid black;
  width: 450px;
  max-width: 100%;
  min-height: 100vh;
  background-color: rgb(224, 215, 215);
  /* box-shadow: 3px 5px 5px rgb(0,0,0,1); */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

html {
  font-size: 14pt; /* später dann 1rem für 12pt! Oder 2rem für 24;);)*/
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.link {
  text-decoration: none;
}

h1 {
  font-weight: 900;
}

h2 {
  font-weight: 900;
}

h3 {
  font-weight: 300;
}

h4 {
  font-weight: 100;
}

h5 {
  font-weight: 100;
}

input {
  font-weight: 100;
  font-family: "Raleway", sans-serif;
  padding: 2px;
  background-color: whitesmoke;
}

span {
  font-weight: 100;
}

p {
  font-weight: 100;
}

label {
  font-weight: 100;
}

li {
  font-weight: 100;
}

.a-button {
  font-size: 13px;
  padding: 7px;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  color: black;
  text-decoration: none;
  background-color: whitesmoke;
  border: transparent 2px black;
  border-radius: 10px;
}

.important-button {
  font-size: 20px;
  padding: 7px;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  color: black;
  text-decoration: none;
  background-color: whitesmoke;
  border: 2px black;
  border-radius: 10px;
}

.selectMood {
  flex-direction: row;
  display: flex;
  flex: row;
  justify-content: center;
  padding: 20px;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(224, 215, 215);
  list-style: none;
  gap: 15px;
}

.showMoods {
  flex-direction: row;
  display: flex;
  flex: row;
  justify-content: center;
  padding: 20px;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(224, 215, 215);
  list-style: none;
  gap: 15px;
}

.allCounts {
  display: flex;
  flex: row;
  justify-content: center;
  padding: 20px;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(224, 215, 215);
  list-style: none;
  gap: 15px;
}

.hidden {
  display: none;
}

.emoji {
  font-family: Noto Emoji;
  background-color: #F2F2F0;
  border-radius: 50%;
}

.emoji_positive {
  font-family: Noto Emoji;
  background-color: #E1F79C;
  border-radius: 50%;
}

.emoji_negative {
  font-family: Noto Emoji;
  background-color: #EEA4CA;
  border-radius: 50%;
}

#excited {
  display: none;
}

#happy {
  display: none;
}

#neutral {
  display: none;
}

#bored {
  display: none;
}

#sad {
  display: none;
}

#depressed {
  display: none;
}


.emoji_excited {
  font-family: Noto Emoji;
  background-color: #E1F79C;
  border-radius: 50%;
  font-size: 30px;
}

.selected_emoji_excited {
  font-family: Noto Emoji;
  background-color: #E1F79C;
  border-radius: 50%;
  font-size: 40px;
}

.emoji_happy {
  font-family: Noto Emoji;
  background-color: #E1F79C;
  border-radius: 50%;
  font-size: 30px;
}

.selected_emoji_happy {
  font-family: Noto Emoji;
  background-color: #E1F79C;
  border-radius: 50%;
  font-size: 40px;
}

.emoji_neutral {
  font-family: Noto Emoji;
  background-color: whitesmoke;
  border-radius: 50%;
  font-size: 30px;
}

.selected_emoji_neutral {
  font-family: Noto Emoji;
  background-color: whitesmoke;
  border-radius: 50%;
  font-size: 40px;
}

.emoji_bored {
  font-family: Noto Emoji;
  background-color: whitesmoke;
  border-radius: 50%;
  font-size: 30px;
}

.selected_emoji_bored {
  font-family: Noto Emoji;
  background-color: whitesmoke;
  border-radius: 50%;
  font-size: 40px;
}

.emoji_sad {
  font-family: Noto Emoji;
  background-color: #EEA4CA;
  border-radius: 50%;
  font-size: 30px;
}

.selected_emoji_sad {
  font-family: Noto Emoji;
  background-color: #EEA4CA;
  border-radius: 50%;
  font-size: 40px;
}

.emoji_depressed {
  font-family: Noto Emoji;
  background-color: #EEA4CA;
  border-radius: 50%;
  font-size: 30px;
}

.selected_emoji_depressed {
  font-family: Noto Emoji;
  background-color: #EEA4CA;
  border-radius: 50%;
  font-size: 40px;
}

.logo_before {
  font-size: 100px;
  font-family: Noto Emoji;
}

.logo_after {
  font-size: 100px;
  font-family: Noto Emoji;
}

.before_work {
  font-weight: 200;
  font-size: 35px;
  font-family: Noto Emoji;
}

.selected_emoji_before {
  font-weight: 200;
  font-size: 45px;
  font-family: Noto Emoji;
}

.after_work {
  font-weight: 200;
  font-size: 35px;
  font-family: Noto Emoji;
}

.selected_emoji_after {
  font-weight: 200;
  font-size: 45px;
  font-family: Noto Emoji;
}






